<link rel="stylesheet" href="/attack/css/attack.css">
<script src="/attack/js/attack.js"></script>

<div x-data="alpineAttack()" x-init="initPage()">
    <div>
        <h2 x-text="name"></h2>
        <p x-text="description"></p>
    </div>
    <body>
        <style>
            button {
              display: block;
              margin: 0 auto;
              font-size: 24px;
              padding: 10px 20px;
              color: #ffffff;
              background-color: #8f0000;
              border: none;
              border-radius: 5px;
              cursor: pointer;
            }
            label {
              display: block;
              font-size: 20px;
              margin-bottom: 5px;
            }
          </style>
        <form>
          <label for="ability">Select the ability:</label>
          <select id="abilityselect">
            <option value="opzione1">Opzione 1</option>
            <option value="opzione2">Opzione 2</option>
            <option value="opzione3">Opzione 3</option>
          </select>
          <br>
          <label for="agent">Select the agent: (paw - last seen - host)</label>
          <select id="agentselect">
          </select>
          <br><br>
          <button type="submit" x-on:click="dataSend" style="font-size: 24px;">Send</button>
        </form>
      </body>
      <br>
      <h3 id="res"></h3><br>
      <p id="output"></p>
    
</div>

<script>
/*
  Templates in CALDERA are now enhanced with Alpine.js! It's essentially
  a replacement for jQuery that has similar features to Vue and React.
  Read up on the docs before you get started working on the UI: https://alpinejs.dev/
*/

function alpineAttack() {
    return {
        name: '{{ name }}',
        description: '{{ description }}',
        sampleVariable: '',

        initPage() {
            
            apiV2('GET', '/api/v2/agents').then((agents) => {
                    this.agents = agents;
                    this.sortAgents();
                    console.log(this.agents)
                    //check if there are agents deployed
                    if((this.agents).length == 0 ) {
                        const option = document.createElement('option');
                        option.value = 'undefined';
                        option.textContent = 'No agents deployed, you have to deploy one before...';
                        const menu1 = document.getElementById('agentselect');
                        menu1.appendChild(option);
                    }
                    else {
                    for (let i = 0; i < this.agents.length; i++) {
                    const option = document.createElement('option');
                    option.value = this.agents[i].paw;  //the id will be only the paw, cause that's all we need to run an ability
                    option.textContent = this.agents[i].paw + ' -  ' + this.agents[i].last_seen + '   -  ' + this.agents[i].host;
                    const menu1 = document.getElementById('agentselect');
                    menu1.appendChild(option);
                    } }
            }).catch((error) => {
                alert(error);
            })
        
        },

        sortAgents() {
                this.agents.sort((a, b) => new Date(b.last_seen.replace(/-/g, "/")).getTime() - new Date(a.last_seen.replace(/-/g, "/")).getTime());
            },

        dataSend() {
            this.agent = document.getElementById('agentselect').value;
            this.ability = document.getElementById('abilityselect').value;
            let requestBody = {
                    agent: this.agent,
                    ability : this.ability
			};
            console.log(requestBody)
            	document.getElementById("res").innerHTML = "Waiting for response..."
                apiV2('POST', '/plugin/attack/sendability', requestBody).then((response) => {  
                    document.getElementById("res").innerHTML = "Output: "
                    document.getElementById("output").innerHTML = response

                }).catch((error) => {
                document.getElementById("res").innerHTML = "Something  went wrong, see logs for more information"
                toast('Error loading page', false);
                console.error(error);    
                alert(error);
            })
        }
    };
}

// # sourceURL=attack.js
</script>
