<link rel="stylesheet" href="/attack/css/attack.css">
<script src="/attack/js/attack.js"></script>

<div x-data="alpineAttack()" x-init="initPage()">
    <div>
        <h2 x-text="name"></h2>
        <p x-text="description"></p>
    </div>
    <body>
        <style>
            button {
              display: block;
              margin: 0 auto;
              font-size: 24px;
              padding: 10px 20px;
              color: #ffffff;
              background-color: #8f0000;
              border: none;
              border-radius: 5px;
              cursor: pointer;
            }
            label {
              display: block;
              font-size: 20px;
              margin-bottom: 5px;
            }
          </style>
        <form>
          <label for="agent">Select the agent: (paw - last seen - host)</label>
          <select id="agentselect">
          </select>
          <br>
          <div x-data="{ input: '', results: [], selectedIndex: null, selectedability: 'null' }">
            <label for="searchAbility">Cerca una abilità: </label>
            <input type="text" x-model="input" x-on:input="searchAbility" />
            <select x-show="results.length > 0" x-model="selectedIndex" x-on:change="selectedability = results[selectedIndex]">
              <template x-for="(result, index) in results">
                <option :value="index" x-text="result.name"></option>
              </template>
            </select>
            <div>
              <label for="selectedability">ID dell'abilità selezionata:</label>
              <input type="text" id="selectedability" x-model="selectedability.ability_id" readonly />
            </div>
          </div>
          <br><br>
          <button type="submit" x-on:click="dataSend" style="font-size: 24px;">Send</button>
        </form>
      </body>
      <br>
      <h3 id="res"></h3><br>
      <p id="output"></p>
      <p id="output2"></p>
      <br><br>
      <button type="submit" x-on:click="checkLink" style="font-size: 24px;">Vedi output MOMENTANEO</button>
    
</div>

<script>

/*TODOS: 
1)Per ora si vedono tutti gli agent, ma a me servono solo quelli alive
2)Il retrieving di tutte le abilità
3) La funzione per mandarle sull'agent
*/
function alpineAttack() {
    return {
        name: '{{ name }}',
        description: '{{ description }}',
        sampleVariable: '',
        links : [],
        obfuscators : [],
        abilities : [],
        agents : [],

        initPage() {
                apiV2('GET', '/api/v2/agents').then((agents) => {
                    this.agents = agents;
                    return apiV2('GET', '/api/v2/abilities');
                }).then((abilities) => {
                    this.abilities = abilities;
                   
                    return apiV2('GET', '/api/v2/obfuscators');
                }).then(async (obfuscators) => {
                    this.obfuscators = obfuscators;

                    while (true) {
                        await sleep(3000);
                        this.refreshAgents();
                        this.domCreate();
                    }
                }).catch((error) => {
                    toast('There was an error initializing the page', false);
                    console.error(error);
                });
            },

        refreshAgents() {
                apiV2('GET', '/api/v2/agents').then((agents) => {
                    this.agents = agents;
                }).catch((error) => {
                    toast('There was an error refreshing the page', false);
                    console.error(error);
                });
            },


        sortAgents() {
                this.agents.sort((a, b) => new Date(b.last_seen.replace(/-/g, "/")).getTime() - new Date(a.last_seen.replace(/-/g, "/")).getTime());
            },
        

        domCreate() {
          //remove all the options in the menu, then update the list with the new refreshed agents
          const menu1 = document.getElementById('agentselect');
          const options = menu1.querySelectorAll('option');
          options.forEach(option => option.remove());
          //check if there are agents deployed
          if((this.agents).length == 0 ) {
                        const option = document.createElement('option');
                        option.value = 'undefined';
                        option.textContent = 'No agents deployed, you have to deploy one before...';
                       
                        menu1.appendChild(option);
                    }
                    else {
                    for (let i = 0; i < this.agents.length; i++) {
                    const option = document.createElement('option');
                    option.value = this.agents[i].paw;  //the id will be only the paw, cause that's all we need to run an ability
                    option.textContent = this.agents[i].paw + ' -  ' + this.agents[i].last_seen + '   -  ' + this.agents[i].host;
                   
                    menu1.appendChild(option);
                    } }

        },

        searchAbility() {
            
            const input = this.input.toLowerCase();
            const results = this.abilities.filter(obj => obj.name.toLowerCase().includes(input));
            this.results = results;
            this.selectedIndex = null;

        },


        dataSend() {
            this.agent = document.getElementById('agentselect').value;
            this.ability_id = document.getElementById('selectedability').value;
            this.agent_paw = this.agent.split("-")[0].trim();  //prendo solo il paw

            //DA ACCESS.HTML
            this.selectedAgent = this.agents.find((agent) => agent.paw === this.agent_paw);
            this.links = this.selectedAgent.links;
            
            let requestBody = {
                    paw: this.agent_paw,
                    ability_id : this.ability_id
			};
            console.log(requestBody)
            if(this.agent == 'undefined') {
                document.getElementById("res").innerHTML = "ERROR: Undefined agent selected"
                alert("Check the agent");
            }
            
            else if(this.ability_id == null) {
                document.getElementById("res").innerHTML = "ERROR: Choose the ability"
                alert("Check the ability");
            }
            else {
            	document.getElementById("res").innerHTML = "Waiting for response..."
                apiV2('POST', '/plugin/attack/sendability', requestBody).then((response) => {  
                    document.getElementById("res").innerHTML = "Link-ID: "
                    const stringa = [];
                    for(i=0; i < response.length; i++) {
                      stringa.push('link' + i + ': **' + response[i] + '**'); //the ** are put to easily retrieve the needed string after
                    }
                    document.getElementById("output").textContent = stringa
                    this.linkID_da_passare = response[response.length - 1]; //MOMENTANEAMNTE PRENDO L'ULTIMO ELEMENTO, POI ANDRÀ RECUPERATO L'ID DALL'HTML

                }).catch((error) => {
                document.getElementById("res").innerHTML = "Something  went wrong, see logs for more information"
                toast('Error loading page', false);
                console.error(error);    
                alert(error);
            }) }
        },
        //!!!!!! DA TOGLIERE E DA IMPLEMENTARE CON LE PROMISE !!!!!!!!!
       //momentanea, poi la tolgo. Mi serve perchè il link non viene immediatamente aggiunto, c'è un ritardo dovuto dal server.
        checkLink() {
          console.log("ajkad", this.linkID_da_passare);
          this.showOutput(this.linkID_da_passare);
            },


      
        showOutput(link_id) {
                this.refreshAgents(); //FORSE NECESSARIO PER AGGIORNARE I LINK
                this.selectedAgent = this.agents.find((agent) => agent.paw == this.agent_paw);
                console.log("linkstotali: ", this.selectedAgent.links.length);
                this.lastlink = this.selectedAgent.links.find((link) => link.id == link_id)

                //.status==0 SUCCESS, .status > 0 FAILED, .status < 0 IN PROGRESS 
                if(this.lastlink.status >= 0) {
                restRequest('POST', { 'index': 'result', 'link_id': link_id }, (data) => {
                    this.outputResult = b64DecodeUnicode(data.output);
                    console.log("output: ", this.outputResult);
                    document.getElementById("output2").innerHTML =  this.outputResult;
                });
            
              }
              else document.getElementById("output2").textContent =  'Still pending...';
          }
    };
}

// # sourceURL=attack.js
</script>
